@{
    ViewBag.Title = "신입사원 김정도 이카운트 1차 프로젝트 홈페이지";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">이카운트 1차 프로젝트</h1>
        <p class="lead">이카운트 신입사원 김정도가 한달간 열심히 구현한의 프로젝트 메인 페이지입니다.</p>
        <p><a class="btn btn-outline-dark">Cheer Up ⇑</a></p>
    </section>
    <br />
    <br />
    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">품목 조회</h2>
            <p>
                이카운트에서 보유중인 품목에 대한 정보를 조회할 수 있습니다.
            </p>
            <p><a class="btn btn-primary" href="~/Static/prod.html">바로가기 &raquo;</a></p>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">판매 조회</h2>
            <p>이카운트에서 판매한 내역들에 대한 조회가 가능합니다.</p>
            <p><a class="btn btn-primary" href="~/Static/sale.html">바로가기 &raquo;</a></p>
        </section>
    </div>
</main>